name: CI build
permissions:
  contents: read
on:
  pull_request:
    types:
      - opened
      - reopened
  push:
    branches:
      - main
      - release/*
      - feature/*
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
